In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "clientid",
"fs.azure.account.oauth2.client.secret": 'secreid',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/tokenid/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicdataomkar.dfs.core.windows.net/", #container@storageacc
mount_point = "/mnt/tokyoolympic",
extra_configs = configs)

True

In [0]:
%fs
ls "/mnt/tokyoolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1752039295000
dbfs:/mnt/tokyoolympic/transform-data/,transform-data/,0,1752039313000

In [0]:
spark

In [0]:
athelets=spark.read.format("csv").option("header","true").option("inferSchema","true").load("dbfs:/mnt/tokyoolympic/raw-data/athletes.csv")
coaches=spark.read.format("csv").option("header","true").option("inferSchema","true").load("dbfs:/mnt/tokyoolympic/raw-data/Coaches.csv")
entriesGender=spark.read.format("csv").option("header","true").option("inferSchema","true").load("dbfs:/mnt/tokyoolympic/raw-data/EntriesGender.csv")
teams=spark.read.format("csv").option("header","true").option("inferSchema","true").load("dbfs:/mnt/tokyoolympic/raw-data/Teams.csv")
medals=spark.read.format("csv").option("header","true").option("inferSchema","true").load("dbfs:/mnt/tokyoolympic/raw-data/medals.csv")

In [0]:
athelets.show()
coaches.show()
entriesGender.show()
teams.show()
medals.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD Katrine|              Norway|       Cycling Road|
|         ABAD Nestor|               Spain|Artistic Gymnastics|
|   ABAGNALE Giovanni|               Italy|             Rowing|
|      ABALDE Alberto|               Spain|         Basketball|
|       ABALDE Tamara|               Spain|         Basketball|
|           ABALO Luc|              France|           Handball|
|        ABAROA Cesar|               Chile|             Rowing|
|       ABASS Abobakr|               Sudan|           Swimming|
|    ABBASALI Hamideh|Islamic Republic ...|             Karate|
|       ABBASOV Islam|          Azerbaijan|          Wrestling|
|        ABBINGH Lois|         Netherlands|           Handball|
|         ABBOT Emily|           Australia|Rhythmic Gymnastics|
|       ABBOTT Monica|United States of ...|  Baseball/Softball|
|ABDALLA Abubaker ...|               Qatar|          Athletics|
|      ABDALLA Maryam|               Egypt|  Artistic Swimming|
|      ABDALLAH Shahd|               Egypt|  Artistic Swimming|
| ABDALRASOOL Mohamed|               Sudan|               Judo|
|   ABDEL LATIF Radwa|               Egypt|           Shooting|
|    ABDEL RAZEK Samy|               Egypt|           Shooting|
|   ABDELAZIZ Abdalla|               Egypt|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       Cï¿½te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    NULL|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    NULL|
|    AMO AGUADO Pablo|               Spain|         Football|    NULL|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/Softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling BMX Frees...|    10|   9|   19|
|  Cycling BMX Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      Belgium|3x3 Basketball|             Belgium|         Men|
|        China|3x3 Basketball|People's Republic...|         Men|
|        China|3x3 Basketball|People's Republic...|       Women|
|       France|3x3 Basketball|              France|       Women|
|        Italy|3x3 Basketball|               Italy|       Women|
|        Japan|3x3 Basketball|               Japan|         Men|
|        Japan|3x3 Basketball|               Japan|       Women|
|       Latvia|3x3 Basketball|              Latvia|         Men|
|     Mongolia|3x3 Basketball|            Mongolia|       Women|
|  Netherlands|3x3 Basketball|         Netherlands|         Men|
|       Poland|3x3 Basketball|              Poland|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      Romania|3x3 Basketball|             Romania|       Women|
|       Serbia|3x3 Basketball|              Serbia|         Men|
|United States|3x3 Basketball|United States of ...|       Women|
|    Australia|       Archery|           Australia|  Men's Team|
|    Australia|       Archery|           Australia|  Mixed Team|
|   Bangladesh|       Archery|          Bangladesh|  Mixed Team|
|      Belarus|       Archery|             Belarus|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|United States of ...|  39|    41|    33|  113|            1|
|   2|People's Republic...|  38|    32|    18|   88|            2|
|   3|               Japan|  27|    14|    17|   58|            5|
|   4|       Great Britain|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           Australia|  17|     7|    22|   46|            6|
|   7|         Netherlands|  10|    12|    14|   36|            9|
|   8|              France|  10|    12|    11|   33|           10|
|   9|             Germany|  10|    11|    16|   37|            8|
|  10|               Italy|  10|    10|    20|   40|            7|
|  11|              Canada|   7|     6|    11|   24|           11|
|  12|              Brazil|   7|     6|     8|   21|           12|
|  13|         New Zealand|   7|     6|     7|   20|           13|
|  14|                Cuba|   7|     3|     5|   15|           18|
|  15|             Hungary|   6|     7|     7|   20|           13|
|  16|   Republic of Korea|   6|     4|    10|   20|           13|
|  17|              Poland|   4|     5|     5|   14|           19|
|  18|      Czech Republic|   4|     4|     3|   11|           23|
|  19|               Kenya|   4|     4|     2|   10|           25|
|  20|              Norway|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

In [0]:
athelets.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entriesGender.printSchema()

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
#find the top countries with the highest no of gold medals
medals.groupBy("TeamCountry").sum("Gold").orderBy("sum(Gold)",ascending=False).show()
#find the top countries with the highest no of medals
medals.groupBy("TeamCountry").sum("Total").orderBy("sum(Total)",ascending=False).show()

+--------------------+---------+
|         TeamCountry|sum(Gold)|
+--------------------+---------+
|United States of ...|       39|
|People's Republic...|       38|
|               Japan|       27|
|       Great Britain|       22|
|                 ROC|       20|
|           Australia|       17|
|               Italy|       10|
|             Germany|       10|
|              France|       10|
|         Netherlands|       10|
|         New Zealand|        7|
|              Canada|        7|
|              Brazil|        7|
|                Cuba|        7|
|   Republic of Korea|        6|
|             Hungary|        6|
|      Czech Republic|        4|
|             Jamaica|        4|
|              Norway|        4|
|              Poland|        4|
+--------------------+---------+
only showing top 20 rows

+--------------------+----------+
|         TeamCountry|sum(Total)|
+--------------------+----------+
|United States of ...|       113|
|People's Republic...|        88|
|                 ROC|        71|
|       Great Britain|        65|
|               Japan|        58|
|           Australia|        46|
|               Italy|        40|
|             Germany|        37|
|         Netherlands|        36|
|              France|        33|
|              Canada|        24|
|              Brazil|        21|
|   Republic of Korea|        20|
|             Hungary|        20|
|         New Zealand|        20|
|             Ukraine|        19|
|               Spain|        17|
|                Cuba|        15|
|              Poland|        14|
|              Turkey|        13|
+--------------------+----------+
only showing top 20 rows

In [0]:
#Calculate the avg no of entries by gender for each discipline desc order divide by 100

entriesGender.groupBy("Discipline").avg("Female","Male").orderBy("avg(Female)","avg(Male)",ascending=True).show()

+--------------------+-----------+---------+
|          Discipline|avg(Female)|avg(Male)|
+--------------------+-----------+---------+
|Cycling BMX Frees...|       10.0|      9.0|
|Trampoline Gymnas...|       16.0|     16.0|
|      Sport Climbing|       20.0|     20.0|
|             Surfing|       20.0|     20.0|
|  Cycling BMX Racing|       24.0|     24.0|
|   Marathon Swimming|       25.0|     25.0|
|      3x3 Basketball|       32.0|     32.0|
|   Modern Pentathlon|       36.0|     36.0|
|Cycling Mountain ...|       38.0|     38.0|
|       Skateboarding|       40.0|     40.0|
|              Karate|       40.0|     42.0|
|        Canoe Slalom|       41.0|     41.0|
|    Beach Volleyball|       48.0|     48.0|
|           Triathlon|       55.0|     55.0|
|                Golf|       60.0|     60.0|
|             Archery|       64.0|     64.0|
|           Taekwondo|       65.0|     65.0|
|        Cycling Road|       70.0|    131.0|
|              Diving|       72.0|     71.0|
|          Equestrian|       73.0|    125.0|
+--------------------+-----------+---------+
only showing top 20 rows

In [0]:
athelets.repartition(1).write.mode("overwrite").format("csv").save("dbfs:/mnt/tokyoolympic/transform-data/athletes")
medals.write.mode("overwrite").format("csv").save("dbfs:/mnt/tokyoolympic/transform-data/medals")
coaches.write.mode("overwrite").format("csv").save("dbfs:/mnt/tokyoolympic/transform-data/coaches")
teams.write.mode("overwrite").format("csv").save("dbfs:/mnt/tokyoolympic/transform-data/teams")
entriesGender.write.mode("overwrite").format("csv").save("dbfs:/mnt/tokyoolympic/transform-data/entriesGender")